
body {
  background: gray;
  font-family: 'Luckiest Guy', sans-serif;
  /* animation-name: fade-in;
  animation-duration: 2s;
  animation-iteration-count: 1; */
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 90%;
  height: auto; */
  border: 1px solid gold;
}

.buttons, .selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  border: 1px solid gold;
}
button {
  border-radius: 8%;
  padding: .5em;
  margin: .7em;
  background: ivory;
}
h3 {
  margin: 1em;
}
h4 {
  margin: 0;
}
.output {
  display: flex;
  /* width: 60%; */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid gold;
}

.dad-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid gold;
  padding: 10px;
}
.dad-carousel img {
  width: 50%;
  border-radius: 10px;
  display: none;
}



@keyframes fade-in {
  0% {background: orange}
  25% {background:orange}
  50% {background:orange}
  75% {background: gray}
  100% {background: gray}
}



@media screen and (max-width:600px) {
  body, .header, .buttons, .selector {
    background-color: #090909;
    color: ivory;
  }
}
